*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
   --red:#d01c28;
   --gray:#2e2e2e;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.container{
 max-width: 1280px;
 margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

nav ul{
  display: flex;
  gap: 1rem;
  list-style: none;
}
button{
  padding: 6px 16px;
  background-color: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  border: none;
}
.hero{
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}


.hero h1{
  font-weight: 800;
  font-size: 100px;
  line-height: 102px;
}
.hero p{
  font-weight: 600;
  color: var(--gray);
  max-width: 450px;
}
.hero-btn{
  display: flex;
  gap: 1.5rem;
}
.secondary-btn{
  background-color: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.shopping p{
  font-size: 14px;
  margin-bottom: 9px;
}
.brand-icons{
  display: flex;
  gap: 1rem;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 32px;
}